.Rproj.user
.Rhistory
.RData
.Ruserdata
src/stan_files/*.o
src/stan_files/*.hpp
src/bahz.so
src/init.o
*.so

inst/extdata/multinomial/binom_free_none_DEC\.rds

inst/extdata/multinomial/binom_free_none_nolim\.rds

inst/extdata/multinomial/binom_free_none_nolim_nopriors\.rds


prior_config_template\.yaml

tests/testthat/Rplots\.pdf
