.Rproj.user
.Rhistory
.RData
.Ruserdata

R/testing\.R

inst/extdata/multinomial/binom_free_none_DEC\.rds

inst/extdata/multinomial/binom_free_none_nolim\.rds

inst/extdata/multinomial/binom_free_none_nolim_nopriors\.rds
